*{
    font-family: 'Montserrat', sans-serif;
}

.Contenido{
    height: 900px;
}

.Content-perfil{
    border: 1px solid black;
    width: 700px;
    margin: 10px;
    margin-top: 100px;
    position: relative;
    margin-left: 25%;
    height: 470px;
}

.Content-perfil .titulo{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
   
    color: white;
    width: 100%;
    background-color: #239b56;
}

.Content-perfil .titulo p {
    margin: 10px;
    font-size: 3vh;
}

.Content-perfil .parrafos{
    display: flex;
    justify-content: space-around;
    gap: 70px;
    background-color: rgb(167, 156, 156);
    height: 300px;
}

.Content-perfil .parrafos p {
    margin: 20px;
}

.Content-perfil .botones {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 10px;
}

.Content-perfil .botones input {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.btn-agregar input{
    background-color: #239b56;
    color: white;
}

.btn-editar input {
    background-color: brown;
    color: white;
}