@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* ,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    font: 'Popins', sans-serif;
    font-weight: 500;
}

.title {
    padding-top: 8rem;
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    border-bottom: .1rem solid #FFBC0F;
    color: #239B56;
    margin-bottom: 20px;
}

.title span {
    color: #136335;
}

body{
height: 100vh;


}



.container-Form-Nivel{
    background-color: #fff;
    width:80%;
    min-width: 360px;
    padding: 35px 50px;
    position: relative;
    left: 10%;
    top: 0%;
  transform: translateX(-50%,-50%);
    border-radius: 10px;
    box-shadow: 10px 15px 13px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    
}
.container-Form-Premio {
    background-color: #fff;
    width:85%;
    min-width: 360px;
    padding: 35px 50px;
    position: relative;
    left: 7%;
    top: 0%;
    transform: translateX(-50%,-50%);
    border-radius: 10px;
    box-shadow: 10px 15px 13px rgba(0, 0, 0, 0.15);
    margin-bottom: 70px;
    margin-top: 100px;
   
}

.titulo-form-Nivel, .titulo-form-Premio {
    font-size: 30px;
    text-align: center;
    color: #136335;
}

.container-Form-Nivel form, .container-Form-Premio form {
    width: 80%;
    position: relative;
    margin: 30px auto 0 auto;
    border: none;
}

.container-Form-Nivel .row, .container-Form-Premio .row {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit,
   minmax(300px, 1fr));
   grid-gap:20px 30px;
   margin-bottom: 20px;
}

.column {
    flex: 1;
    min-width: 300px;
    margin-bottom: 15px;
}

.container-Form-Nivel label, .container-Form-Premio label {
    color: black;
    font-size: 16px;
}

.container-Form-Nivel form input, .container-Form-Premio form select, .container-Form-Premio form input {
    width: 90%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #239B56;
    margin-top: 5px;
    margin-bottom: 15px;
}

.container-Form-Nivel form input:focus, .container-Form-Premio form input:focus {
    outline: none;
    border-color: #136335;
}


.btn-F {
    width: 50%;
    border: none;
    padding: 10px 20px;
    background: #FFBC0F;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btn-F:hover {
    background: #eba902;
    transform: scale(1.02);
}


@media screen and (max-width: 970px) {
    .title {
        font-size: 2rem;
    }

    .container-Form-Nivel, .container-Form-Premio {
        width: 70%;
        max-width: 100%;
        margin: 0 auto 50px; 
        left: auto;
        transform: none;
    }

    .titulo-form-Nivel, .titulo-form-Premio {
        font-size: 20px;
        text-align: center;
        color: #136335;
    }

    .container-Form-Nivel label, .container-Form-Premio label {
        color: black;
        font-size: 15px;
    }

    .row {
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%;
        margin-left: 0;
    }

  
}

@media screen and (max-width: 600px) {
    .container-Form-Nivel,
    .container-Form-Premio {
        width: 50%;
        padding: 0px;
    }
}

@media screen and (max-width: 400px) {
    .container-Form-Nivel,
    .container-Form-Premio {
        width: calc(50% - 5px);
        padding: 5px; 
        margin: 20px auto 60px; 
    }
}